.body{
    background-image: url("../images/kanae\ kosho\ hashira.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
}
.prueba{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@font-face {
    font-family: "letra";
    src: url("../../public/go3v2.ttf");
}
@font-face {
    font-family: "letra2";
    src: url("../../public/Harukaze.otf");
}
@font-face {
    font-family: "letra3";
    src: url("../../public/SAKURATA.ttf");
}
@font-face {
    font-family: "letra4";
    src: url("../../public/YOZAKURA-Regular.otf");
}

#title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "letra";
}
.botones{
    background-color: rgba(0, 255, 234, 0.326);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-family: "letra";
}

.botones:hover{
    cursor: pointer;
    background-color: aqua;
    border: inset;
    text-shadow: 1px 1px purple;
}

.verde{
    background-color: green;
}

.rojo{
    background-color: red;
}

.text{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.context{
    border-radius: 5px;
    border: groove;
    height: 25px;
    margin-top: 60px;
}

.cajaGuiones{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 50px;
    font-family: "letra2";
}
/* .imagen{
    height: 200px;
    width: 200px;
}
#muzan{
    height: 200px;
    width: 200px;
}
.img {
    height: 200px;
    width: 200px;
} */
.contador{
    height: 200px;
    width: 150px;
    font-family: "letra4";
    color: black;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.444);
    border-radius: 10px;
    border: ridge;
    border-color: black;
}
#strikes{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 0;
    margin-top: 5px;
}
#cantidad{
    display: flex;
    justify-content: center;
    font-size: 150px;
    margin-bottom: 0;
    margin-top: 0;
}
.Start{
    height: 50px;
    width: 100px;
    font-family: "letra";
    margin-top: 160px;
    font-size: 30px;
    border-radius: 5px;
}
.Start:hover{
    cursor: grab;
    background-color: rgba(0, 255, 166, 0.71);
    border: inset;
    text-shadow: 1px 1px purple;
}
.Start:active{
    cursor: grabbing;
}