.body{
    background-image: url("../images/kanae\ kosho\ hashira.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
}
.audio{
    height: 1px;
    width: 1px;
    position: absolute;
    top: 1000px;
    left: 1000px;
}
.test{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@font-face {
    font-family: "letra";
    src: url("../../public/go3v2.ttf");
}
@font-face {
    font-family: "letra2";
    src: url("../../public/Harukaze.otf");
}
@font-face {
    font-family: "letra4";
    src: url("../../public/YOZAKURA-Regular.otf");
}

#title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "letra";
}
.buttons{
    background-color: rgba(0, 255, 234, 0.326);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-family: "letra";
}

.buttons:hover{
    cursor: pointer;
    background-color: aqua;
    /* border: inset; */
    text-shadow: 1px 1px purple;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.text{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.context{
    border-radius: 5px;
    border: groove;
    height: 25px;
    margin-top: 60px;
}

.boxScripts{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 50px;
    font-family: "letra2";
}

.counter{
    height: 200px;
    width: 150px;
    font-family: "letra4";
    color: black;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.444);
    border-radius: 10px;
    border: ridge;
    border-color: black;
}
#strikes{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 0;
    margin-top: 5px;
}
#amount{
    display: flex;
    justify-content: center;
    font-size: 150px;
    margin-bottom: 0;
    margin-top: 0;
}
.Start{
    height: 50px;
    width: 100px;
    font-family: "letra";
    margin-top: 160px;
    font-size: 30px;
    border-radius: 5px;
}
.Start:hover{
    cursor: grab;
    background-color: rgba(0, 255, 166, 0.71);
    border: inset;
    text-shadow: 1px 1px purple;
}
.Start:active{
    cursor: grabbing;
}
#reloadbutton{
    height: 50px;
    width: 150px;
    font-family: "letra";
    margin-top: 160px;
    font-size: 30px;
    border-radius: 5px;
}
#reloadbutton:hover{
    cursor: grab;
    background-color: rgba(0, 255, 166, 0.71);
    border: inset;
    text-shadow: 1px 1px purple;
}
#reloadbutton:active{
    cursor: grabbing;
}

.modal-content{
    display: flex;
    background-color: white;
    border-radius: 10px;
    font-family: "letra";
    border: inset;
    border-color: black;
    margin-right: 10%;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}