.body{
    background-image: url("../images/kanae\ kosho\ hashira.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.prueba{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#title{
    display: flex;
    justify-content: center;
    font: oblique bold 120% cursive;
    font-size: 40px;
}
.botones{
    background-color: rgba(0, 255, 234, 0.326);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font: oblique bold 120% cursive;
}

.botones:hover{
    cursor: pointer;
    background-color: aqua;
    border: inset;
    text-shadow: 1px 1px violet;
}

.verde{
    background-color: green;
}

.rojo{
    background-color: red;
}

.text{
    display: flex;
    margin-top: 10%;
}
.context{
    border-radius: 5px;
    border: groove;
}

.cajaGuiones{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 200%;
    font: oblique bold 120% cursive;
}