.body{
    background-image: url("../images/kanae\ kosho\ hashira.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.prueba{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@font-face {
    font-family: "letra";
    src: url("../../public/go3v2.ttf");
}
@font-face {
    font-family: "letra2";
    src: url("../../public/Harukaze.otf");
}
@font-face {
    font-family: "letra3";
    src: url("../../public/SAKURATA.ttf");
}
@font-face {
    font-family: "letra4";
    src: url("../../public/YOZAKURA-Regular.otf");
}

#title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "letra";
}
.botones{
    background-color: rgba(0, 255, 234, 0.326);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-family: "letra";
}

.botones:hover{
    cursor: pointer;
    background-color: aqua;
    border: inset;
    text-shadow: 1px 1px violet;
}

.verde{
    background-color: green;
}

.rojo{
    background-color: red;
}

.text{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.context{
    border-radius: 5px;
    border: groove;
    height: 25px;
}

.cajaGuiones{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 200%;
    /* font-family: "letra"; */
}
.imagen{
    /* background-image: url("../images/muzan.png"); */
}