.body{
    background-image: url("../images/arceus.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
}

.audio{
    height: 1px;
    width: 1px;
    position: absolute;
    top: 1000px;
    left: 1000px;
}

.test{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@font-face {
    font-family: "pokeletra";
    src: url("../../public/Pokemon\ Hollow.ttf");
}
@font-face {
    font-family: "pokeletra2";
    src: url("../../public/Pokemon\ Solid.ttf");
}
@font-face {
    font-family: "letra";
    src: url("../../public/go3v2.ttf");
}
@font-face {
    font-family: "letra2";
    src: url("../../public/Harukaze.otf");
}
@font-face {
    font-family: "letra4";
    src: url("../../public/YOZAKURA-Regular.otf");
}

#title{
    display: flex;
    justify-content: center;
    font-family: "pokeletra2";
    letter-spacing: 4px;
    margin: 0px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-decoration: underline;
}

#nameversion{
    display: flex;
    justify-content: center;
    font-family: "pokeletra2";
    letter-spacing: 4px;
    margin: 0px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#boxversion{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.buttons{
    background-color: rgb(240, 248, 255);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-family: "pokeletra2";
    box-shadow: 
    0 0 5px gold,
    0 0 10px gold,
    0 0 20px gold,
    0 0 180px white;
    border: none;
    color: black;
    font-weight: bold;
    position: relative;
}

.buttons:hover{
    cursor: pointer;
    background-color: rgba(247, 247, 247, 0.282);
    text-shadow: 1px 1px limegreen;
}

.buttons:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,gold,white,gray,white,gold,white,gray,white
    );
    background-size: 800%;
    border-radius: 12px;
    filter: blur(15px);
    animation: glowing 20s linear infinite;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.text{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.context{
    border-radius: 5px;
    border: groove;
    height: 25px;
    margin-top: 60px;
}

.boxScripts{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 50px;
    font-family: "pokeletra2";
}

.counter{
    height: 200px;
    width: 150px;
    font-family: "pokeletra2";
    color: black;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.444);
    border-radius: 10px;
    border: ridge;
    border-color: black;
    box-shadow: 
    0 0 5px lightseagreen,
    0 0 10px lightseagreen,
    0 0 20px lightseagreen,
    0 0 180px white;
}

#strikes{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
    letter-spacing: 1px;
}

#amount{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.counter2{
    height: 200px;
    width: 150px;
    font-family: "pokeletra2";
    color: black;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.444);
    border-radius: 10px;
    border: ridge;
    border-color: black;
    box-shadow: 
    0 0 5px lightseagreen,
    0 0 10px lightseagreen,
    0 0 20px lightseagreen,
    0 0 180px white;
}

#amountpoint{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 3px;
}

#points{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
    letter-spacing: 1px;
}

.Start{
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "pokeletra2";
    height: 50px;
    width: 90px;
    box-shadow:
    0 0 5px gray,
    0 0 10px gray,
    0 0 20px gray,
    0 0 40px gray,
    0 0 80px white,
    0 0 90px white,
    0 0 100px white,
    0 0 140px white,
    0 0 180px white
    ;
    background-color: white;
    padding: 16px 32px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    border: inset;
    border-color: black;
    text-shadow: 1px 1px gray;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.Start:hover{
    background-color: rgba(247, 247, 247, 0.282);
    cursor: grab;
    border: none;
    text-shadow: 1px 1px gold;
}

.Start:active{
    cursor: grabbing;
}

.Start:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,gold,white,gray,white,gold,white,gray,white
    );
    background-size: 800%;
    border-radius: 12px;
    filter: blur(15px);
    animation: glowing 20s linear infinite;
}

#reloadbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    font-family: "pokeletra2";
    font-size: 20px;
    letter-spacing: 4px;
    box-shadow: 
    0 0 5px gray,
    0 0 10px gray,
    0 0 20px gray,
    0 0 40px gray,
    0 0 80px white,
    0 0 90px white,
    0 0 100px white,
    0 0 140px white,
    0 0 180px white
    ;
    background-color: white;
    padding: 16px 32px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    border: inset;
    border-color: black;
}

#reloadbutton:hover{
    cursor: grab;
    background-color: rgba(247, 247, 247, 0.282);
    border: none;
    text-shadow: 1px 1px gold;
}

#reloadbutton:active{
    cursor: grabbing;
}

#reloadbutton:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,gold,white,gray,white,gold,white,gray,white
    );
    background-size: 800%;
    border-radius: 12px;
    filter: blur(15px);
    animation: glowing 20s linear infinite;
}

.modal-content{
    display: flex;
    background-color: white;
    border-radius: 10px;
    font-family: "pokeletra2";
    border: inset;
    border-color: black;
    letter-spacing: 2px;
}

#clue{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    font-family: "pokeletra2";
    font-size: 20px;
    letter-spacing: 4px;
    box-shadow: 
    0 0 5px gray,
    0 0 10px gray,
    0 0 20px gray,
    0 0 40px gray,
    0 0 80px white,
    0 0 90px white,
    0 0 100px white,
    0 0 140px white,
    0 0 180px white
    ;
    background-color: white;
    padding: 16px 32px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    border: inset;
    border-color: black;
}

#clue:hover{
    cursor: grab;
    background-color: rgba(247, 247, 247, 0.282);
    border: none;
    text-shadow: 1px 1px gold;
}

#clue:active{
    cursor: grabbing;
}

#clue:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,gold,white,gray,white,gold,white,gray,white
    );
    background-size: 800%;
    border-radius: 12px;
    filter: blur(15px);
    animation: glowing 20s linear infinite;
}

#clueRv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    font-family: "pokeletra2";
    font-size: 20px;
    letter-spacing: 4px;
    box-shadow: 
    0 0 5px gray,
    0 0 10px gray,
    0 0 20px gray,
    0 0 40px gray,
    0 0 80px white,
    0 0 90px white,
    0 0 100px white,
    0 0 140px white,
    0 0 180px white
    ;
    background-color: white;
    padding: 16px 32px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    border: inset;
    border-color: black;
}

#clueRv:hover{
    cursor: grab;
    background-color: rgba(247, 247, 247, 0.282);
    border: none;
    text-shadow: 1px 1px gold;
}

#clueRv:active{
    cursor: grabbing;
}

#clueRv:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,gold,white,gray,white,gold,white,gray,white
    );
    background-size: 800%;
    border-radius: 12px;
    filter: blur(15px);
    animation: glowing 20s linear infinite;
}

#clue2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    font-family: "pokeletra2";
    font-size: 20px;
    letter-spacing: 4px;
    box-shadow: 
    0 0 5px gray,
    0 0 10px gray,
    0 0 20px gray,
    0 0 40px gray,
    0 0 80px white,
    0 0 90px white,
    0 0 100px white,
    0 0 140px white,
    0 0 180px white
    ;
    background-color: white;
    padding: 16px 32px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    border: inset;
    border-color: black;
}

#clue2:hover{
    cursor: grab;
    background-color: rgba(247, 247, 247, 0.282);
    border: none;
    text-shadow: 1px 1px gold;
}

#clue2:active{
    cursor: grabbing;
}

#clue2:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,gold,white,gray,white,gold,white,gray,white
    );
    background-size: 800%;
    border-radius: 12px;
    filter: blur(15px);
    animation: glowing 20s linear infinite;
}

#clue3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    font-family: "pokeletra2";
    font-size: 20px;
    letter-spacing: 4px;
    box-shadow: 
    0 0 5px gray,
    0 0 10px gray,
    0 0 20px gray,
    0 0 40px gray,
    0 0 80px white,
    0 0 90px white,
    0 0 100px white,
    0 0 140px white,
    0 0 180px white
    ;
    background-color: white;
    padding: 16px 32px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    border: inset;
    border-color: black;
}

#clue3:hover{
    cursor: grab;
    background-color: rgba(247, 247, 247, 0.282);
    border: none;
    text-shadow: 1px 1px gold;
}

#clue3:active{
    cursor: grabbing;
}

#clue3:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,gold,white,gray,white,gold,white,gray,white
    );
    background-size: 800%;
    border-radius: 12px;
    filter: blur(15px);
    animation: glowing 20s linear infinite;
}

#buttonContainer{
    display: flex;
    align-items: center;
}

#pokeimage{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    filter: brightness(0);
}

#pokeimageRv{
    border-radius: 10px;
}

.dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: inset;
    border-color: black;
    font-family: "pokeletra2";
    letter-spacing: 4px;
    border-radius: 12px;
    font-weight: bold;
    position: relative;
    box-shadow: 
    0 0 5px gray,
    0 0 10px gray,
    0 0 20px gray,
    0 0 40px gray,
    0 0 80px white,
    0 0 90px white,
    0 0 100px white,
    0 0 140px white,
    0 0 180px white
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(6, 205, 205, 0.756);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content{
    display: block;
}
  
.dropbtn:hover{
    cursor: grab;
    background-color: rgba(247, 247, 247, 0.282);
    border: none;
    text-shadow: 1px 1px gold;
}

.dropbtn:active{
    cursor: grabbing;
}

.dropbtn:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,gold,white,gray,white,gold,white,gray,white
    );
    background-size: 800%;
    border-radius: 12px;
    filter: blur(15px);
    animation: glowing 20s linear infinite;
}